# Security
.env

# Python Environments
.venv/
venv/
env/
__pycache__/
*.py[cod]

# Jupyter Notebooks
.ipynb_checkpoints/

# Data (Crucial for this project)
data/
*.parquet
*.csv

# IDE / Editor
.vscode/
